*{
    letter-spacing: 0;
}

.withexpertia{
    
    background-image: linear-gradient(white,rgba(122, 110, 202, 0.278));
}

.heading{
    font-size: 1.6em;
    text-align: center;
    padding: 1em ;

}

.card-item{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}



.card-item h1{
    font-size: 3em;
    text-align: start;
    margin-left: 2.2em;
}

.card-item p{
    position: relative;
    font-size: 1.4em;
    text-align: start;
    margin: 2em 5em;

}